In [13]:
import pandas as pd
# "~/Desktop/MTA_Subway_Hourly_Ridership__2020-2024_20260222.csv"
daily_ridership = pd.read_csv("~/Desktop/MTA_Subway_Daily_Manhattan.csv")
st_cmplx_list = pd.read_csv("~/Desktop/MTA_Subway_Daily_Manhattan_Stations.csv")

In [21]:
daily_ridership

       station_complex_id        date  ridership
0                       8  2023-01-01       8909
1                       8  2023-01-02       7475
2                       8  2023-01-03       9291
3                       8  2023-01-04      10697
4                       8  2023-01-05      10391
...                   ...         ...        ...
44128                 635  2023-12-27      18878
44129                 635  2023-12-28      20035
44130                 635  2023-12-29      23840
44131                 635  2023-12-30      15912
44132                 635  2023-12-31      11406

[44133 rows x 3 columns]

In [28]:
st_cmplx_list

,station_complex_id,station_complex,Georeference
0,8,"5 Av/59 St (N,R,W)",POINT (-73.97335 40.764812)
1,9,"57 St-7 Av (N,Q,R,W)",POINT (-73.98066 40.764664)
2,10,"49 St (N,R,W)",POINT (-73.98414 40.7599)
3,13,"28 St (R,W)",POINT (-73.98869 40.745495)
4,14,"23 St (R,W)",POINT (-73.98934 40.741302)
...,...,...,...
116,623,"Canal St (J,N,Q,R,W,Z,6)",POINT (-73.99989 40.71953)
117,624,"Chambers St (A,C)/WTC (E)/Park Pl (2,3)/Cortla...",POINT (-74.00858 40.71411)
118,625,"Delancey St (F)/Essex St (J,M,Z)",POINT (-73.987434 40.718613)
119,628,"Fulton St (A,C,J,Z,2,3,4,5)",POINT (-74.00657 40.710373)
120,635,"South Ferry (1)/Whitehall St (R,W)",POINT (-74.01299 40.703087)

In [26]:
daily_ridership_plus_info = daily_ridership.merge(
    st_cmplx_list, 
    on='station_complex_id', 
    how='left'
)

In [27]:
daily_ridership_plus_info

,station_complex_id,date,ridership,station_complex,Georeference
0,8,2023-01-01,8909,"5 Av/59 St (N,R,W)",POINT (-73.97335 40.764812)
1,8,2023-01-02,7475,"5 Av/59 St (N,R,W)",POINT (-73.97335 40.764812)
2,8,2023-01-03,9291,"5 Av/59 St (N,R,W)",POINT (-73.97335 40.764812)
3,8,2023-01-04,10697,"5 Av/59 St (N,R,W)",POINT (-73.97335 40.764812)
4,8,2023-01-05,10391,"5 Av/59 St (N,R,W)",POINT (-73.97335 40.764812)
...,...,...,...,...,...
44128,635,2023-12-27,18878,"South Ferry (1)/Whitehall St (R,W)",POINT (-74.01299 40.703087)
44129,635,2023-12-28,20035,"South Ferry (1)/Whitehall St (R,W)",POINT (-74.01299 40.703087)
44130,635,2023-12-29,23840,"South Ferry (1)/Whitehall St (R,W)",POINT (-74.01299 40.703087)
44131,635,2023-12-30,15912,"South Ferry (1)/Whitehall St (R,W)",POINT (-74.01299 40.703087)
44132,635,2023-12-31,11406,"South Ferry (1)/Whitehall St (R,W)",POINT (-74.01299 40.703087)

In [29]:
# 1. Use regex to extract the two numbers inside the parentheses
# ([-\d.]+) matches digits, decimals, and negative signs
new_cols = daily_ridership_plus_info['Georeference'].str.extract(r'POINT \(([-\d.]+) ([-\d.]+)\)')

# 2. Assign to new columns and convert to floats
daily_ridership_plus_info['longitude'] = pd.to_numeric(new_cols[0])
daily_ridership_plus_info['latitude'] = pd.to_numeric(new_cols[1])

# 3. Optional: Drop the original column if no longer needed
daily_ridership_plus_info = daily_ridership_plus_info.drop(columns=['Georeference'])

daily_ridership_plus_info

,station_complex_id,date,ridership,station_complex,longitude,latitude
0,8,2023-01-01,8909,"5 Av/59 St (N,R,W)",-73.97335,40.764812
1,8,2023-01-02,7475,"5 Av/59 St (N,R,W)",-73.97335,40.764812
2,8,2023-01-03,9291,"5 Av/59 St (N,R,W)",-73.97335,40.764812
3,8,2023-01-04,10697,"5 Av/59 St (N,R,W)",-73.97335,40.764812
4,8,2023-01-05,10391,"5 Av/59 St (N,R,W)",-73.97335,40.764812
...,...,...,...,...,...,...
44128,635,2023-12-27,18878,"South Ferry (1)/Whitehall St (R,W)",-74.01299,40.703087
44129,635,2023-12-28,20035,"South Ferry (1)/Whitehall St (R,W)",-74.01299,40.703087
44130,635,2023-12-29,23840,"South Ferry (1)/Whitehall St (R,W)",-74.01299,40.703087
44131,635,2023-12-30,15912,"South Ferry (1)/Whitehall St (R,W)",-74.01299,40.703087
44132,635,2023-12-31,11406,"South Ferry (1)/Whitehall St (R,W)",-74.01299,40.703087

In [57]:
unique_ids = daily_ridership_plus_info.station_complex_id.unique()
expected_rows = len(unique_ids) * 365
print('The number of expected rows, based on the number of station_complex_ids: ', expected_rows)
print('The number of missing rows is: ', expected_rows - len(daily_ridership_plus_info))

# 1. Get the counts
# 2. Convert to DataFrame (reset_index turns the ID back into a column)
# 3. Rename columns to your preference
num_days_each_station = (
    daily_ridership_plus_info['station_complex_id']
    .value_counts()
    .reset_index()
)

num_days_each_station.columns = ['station_complex_id', 'op_days']
num_days_each_station['op_days'] = pd.to_numeric(num_days_each_station['op_days'])

The number of expected rows, based on the number of station_complex_ids:  44165
The number of missing rows is:  32

In [58]:
# 1. Create the Master Calendar as Timestamps (NOT .date)
all_dates = pd.date_range(start='2023-01-01', end='2023-12-31')

# 2. Get your incomplete IDs
incomplete_ids = num_days_each_station[num_days_each_station['op_days'] < 365]['station_complex_id']

# 3. Create the 'Perfect Grid'
master_grid = pd.MultiIndex.from_product(
    [incomplete_ids, all_dates], 
    names=['station_complex_id', 'date']
).to_frame(index=False)

# 4. FORCE TYPE ALIGNMENT
# Convert both 'date' columns to datetime64[ns] to be 100% sure
master_grid['date'] = pd.to_datetime(master_grid['date'])
daily_ridership_plus_info['date'] = pd.to_datetime(daily_ridership_plus_info['date'])

# Ensure IDs are same type (e.g., int)
master_grid['station_complex_id'] = master_grid['station_complex_id'].astype(int)
daily_ridership_plus_info['station_complex_id'] = daily_ridership_plus_info['station_complex_id'].astype(int)

# 5. Re-run the Merge
missing_days = master_grid.merge(
    daily_ridership_plus_info[['station_complex_id', 'date', 'ridership']], 
    on=['station_complex_id', 'date'], 
    how='left', 
    indicator=True
)

# 6. Isolate the missing ones
missing_days_final = missing_days[missing_days['_merge'] == 'left_only'].drop(columns=['_merge', 'ridership'])

print(f"Found {len(missing_days_final)} missing date/station pairs.")

Found 32 missing date/station pairs.

In [59]:
print('The following are all the missing dates for each station_id:')
missing_days_final

The following are all the missing dates for each station_id:

      station_complex_id       date
139                  297 2023-05-20
582                  436 2023-08-06
813                  437 2023-03-25
1017                 437 2023-10-15
1130                 145 2023-02-05
1158                 145 2023-03-05
1488                 107 2023-01-29
1494                 107 2023-02-04
1761                 107 2023-10-29
1853                 103 2023-01-29
2027                 103 2023-07-22
2153                 103 2023-11-25
2224                 144 2023-02-04
2252                 144 2023-03-04
2323                 144 2023-05-14
2364                 144 2023-06-24
2792                 224 2023-08-26
2793                 224 2023-08-27
2800                 224 2023-09-03
2801                 224 2023-09-04
2821                 224 2023-09-24
2827                 224 2023-09-30
2828                 224 2023-10-01
2834                 224 2023-10-07
2848                 224 2023-10-21
2855                 224 2023-10-28
2863                 224 2023-11-05
2877                 224 2023-11-19
2883                 224 2023-11-25
2890                 224 2023-12-02
2897                 224 2023-12-09
2898                 224 2023-12-10